<!--轮播图-->
	<div class="home-turn" loop-turn>
		<div class="home-turn-inner">
			<ul class="imgList"></ul>
			<ul class="slidePot"></ul>

			<ul class="arrow glylg">
				<a href="javascript:;" class="leftArrow">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="javascript:;" class="rightArrow  ">
					<span class="glyphicon glyphicon-chevron-right"></span>

				</a>
			</ul>
		</div>

	</div>

	<!--标语-->
	<div class="slogan">
		<img src="/img/标语.png" />
	</div>

	<!--新品推荐-->

	<div class="newGood part part-1">
		<div class="title">
			<p>-&nbsp;&nbsp;新品推荐&nbsp;&nbsp;-</p>
		</div>
		<div class="content">
			<div class="content-inner">
				<ul>
					<li ng-repeat="new in  newReCommened">
						<a href="">
							<div class="img">
								<img ng-src="{{new.goodImg[0]}}"/>
							</div>
							<div class="text">
								<div class="goodName">
									{{new.goodName}}
								</div>
								<div class="goodPrice">
									<span>{{new.goodPrice}}</span>元
								</div>
							</div>
						</a>
					</li>
					
			</div>
		</div>
	</div>

	<!--上装推荐-->

	<div class="upper part part-2">
		<div class="title">
			<p>-&nbsp;&nbsp;上装推荐&nbsp;&nbsp;-</p>
		</div>
		<div class="content">
			<div class="content-inner">
				<ul>
					<li>
						<a href="">
							<div class="img">
								<img src="/upper1.jpg"/>
							</div>
							<div class="text">
								<div class="goodName">
									轻暖95绒 羽绒服
								</div>
								<div class="goodPrice">
									<span>84</span>元
								</div>
							</div>
						</a>
					</li>
					<li>
						<ul>
							<li ng-repeat="upper in upper1">
								<a href="">
									<div class="img">
										<img ng-src="{{upper.goodImg}}"/>
									</div>
									<div class="text">
										<div class="goodName">
											{{upper.goodName}}
										</div>
										<div class="goodPrice">
											<span>{{upper.goodPrice}}</span>元
										</div>
									</div>
								</a>
							</li>
							
						</ul>
					</li>
					<li>
						<a href="">
							<div class="img">
								<img src="/upper3.jpg"/>
							</div>
							<div class="text">
								<div class="goodName">
									羊毛西服
								</div>
								<div class="goodPrice">
									<span>200</span>元
								</div>
							</div>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="">
							<div class="img">
								<img src="/upper2.jpg"/>
							</div>
							<div class="text">
								<div class="goodName">
									羊毛大衣
								</div>
								<div class="goodPrice">
									<span>485</span>元
								</div>
							</div>
						</a>
					</li>
					<li>
						<ul>
							<li ng-repeat="upper in upper2">
								<a href="">
									<div class="img">
										<img ng-src="{{upper.goodImg}}"/>
									</div>
									<div class="text">
										<div class="goodName">
											{{upper.goodName}}
										</div>
										<div class="goodPrice">
											<span>{{upper.goodPrice}}</span>元
										</div>
									</div>
								</a>
							</li>
							
						</ul>
					</li>
					<li>
						<a href="">
							<div class="img">
								<img src="/upper4.jpg"/>
							</div>
							<div class="text">
								<div class="goodName">
									连帽长款羽绒服
								</div>
								<div class="goodPrice">
									<span>500</span>元
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!--下装推荐-->
	<div class="under part part-3">
		<div class="title">
			<p>-&nbsp;&nbsp;下装推荐&nbsp;&nbsp;-</p>
		</div>
		<div class="content">
			<div class="content-inner">
				<ul>
					<li ng-repeat="under in underGood">
						<a href="">
							<div class="img">
								<img ng-src="{{under.goodImg}}"/>
							</div>
							<div class="text">
								<div class="goodName">
									{{under.goodName}}
								</div>
								<div class="goodPrice">
									<span>{{under.goodPrice}}</span>元
								</div>
							</div>
						</a>
					</li>
				
				</ul>
			</div>
		</div>
	</div>

	<!--更多精品-->

	<div class="more part part-4">
		<div class="title">
			<p>-&nbsp;&nbsp;更多精品&nbsp;&nbsp;-</p>
		</div>
		<div class="content">
			<div class="content-inner">
				<ul>
					<li ng-repeat="more in moreGood ">
						<a href="">
							<img ng-src="{{more}}"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
