
<div class="pay">
	<div class="container">
		<h1 class="pay-slogan">
			<span class="glyphicon glyphicon-heart"></span>
			&nbsp;恭喜，您已付款成功&nbsp;&nbsp;
			<span class="glyphicon glyphicon-ok"></span>
		</h1>
		
		<h5 class="row" style=" width: 60%;margin: 40px auto 20px auto;">
			<a ng-href="#homepage" class="col-md-4">返回首页</a> 
			<a href="" class="col-md-4">继续购物</a>
			<a ng-href="#orderpage" class="col-md-4">查看我的订单</a>
		</h5>
	</div>
	<h4>感谢您一直以来的支持，我们会更加努力为您提供更好的服务 <span class="glyphicon glyphicon-leaf"></span></h4>
</div>