

<div class="userManage">
	<h2 class="pageTitle">用户管理</h2>
	<div class="usertable">
		<table class="table table-striped ">
			<thead>
				<tr class="row ">
					<th class="col-md-3">用户名</th>
					<th class="col-md-3">密码</th>
					<th class="col-md-1">角色</th>
					<th class="col-md-1">状态</th>
					<th class="col-md-2">用户金额</th>
					<th class="col-md-2">注册日期</th>
				</tr>
			</thead>
			
			<tr class="row">
				<td>hoho</td>
				<td>123</td>
				<td>管理员</td>
				<td>在线</td>
				<td>￥10000</td>
				<td>2016-11-12</td>
			</tr>
			<tr class="row">
				<td>hoho</td>
				<td>123</td>
				<td>管理员</td>
				<td>在线</td>
				<td>￥10000</td>
				<td>2016-11-12</td>
			</tr>
			<tr class="row">
				<td>hoho</td>
				<td>123</td>
				<td>管理员</td>
				<td>在线</td>
				<td>￥10000</td>
				<td>2016-11-12</td>
			</tr>
			<tr class="row">
				<td>hoho</td>
				<td>123</td>
				<td>管理员</td>
				<td>在线</td>
				<td>￥10000</td>
				<td>2016-11-12</td>
			</tr>
			<tr class="row">
				<td>hoho</td>
				<td>123</td>
				<td>管理员</td>
				<td>在线</td>
				<td>￥10000</td>
				<td>2016-11-12</td>
			</tr>
			
		</table>
	</div>
</div>