.homeSearch{
	
}
.homeSearch .good-list>ul{
	
	display: flex;
	/*justify-content: space-between;*/
	flex-flow: row wrap;
	/*align-content: space-between;*/
}
.homeSearch .good-list>ul>li{
	height:300px;
	width:210px ;
	border:2px solid #E0E0E0;
	margin-right: 18px;
	margin-bottom: 20px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.homeSearch .good-list .good-single .img{
	width: 100%;
	height: 200px;
	background-color: darkgrey;
	margin-bottom: 10px;
	overflow: hidden;
}
.homeSearch .good-list .good-single .img img{
	height: 100%;
	width: 100%;
}

.homeSearch .good-list .good-single:hover{
	border-color:#b71a21;
	box-shadow: 0 0 10px gainsboro;
}
.homeSearch .good-list .good-single:hover .text{
	color: #b71a21;
}
.homeSearch .good-list .good-single .text p:first-child{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.homeSearch .good-list .good-single .text p:last-child{
	color: #b71a21;
	font-size: 20px;
}
