


.order{
	margin-bottom: 50px;
}


.order .order-single{
	border: 1px solid #DC0C29;
	margin-bottom: 10px;
}
.order .order-single .header{
	background-color: #DC0C29;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	color: white;
}
.order .order-single .body{
	height: 80px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
.order .order-single .body .good-info img{
	width: 60px;
	height: 60px;
}
.order .order-single .body .good-text{
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	height: 60px;
}
