*{
	margin: 0;
	padding: 0;
}
html{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: black;
	display: block;
	cursor: pointer;
}
ul{
	list-style: none;
}
img{width: 100%;}

button,input[type="button"],a{
	outline: none;
}
a:hover{
	text-decoration: none;
}
